.form-grid td{
	padding:15px 20px 0 0;
}
.form-grid tr td:nth-of-type(3){
	font-size:0.9em;
}
.form-grid input,
.form-grid select,
.form-grid textarea{
	width:260px;
	padding:2px 4px;
	background:#fff;
	font-family:inherit;
	color:#333;
	outline:0;
	font-size:1em;
}
.form-grid input[type=text],
.form-grid input[type=password],
.form-grid textarea {
	-ms-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border:0;
	border-bottom:2px solid #ccc;
}
.form-grid input[type=text]:focus,
.form-grid input[type=password]:focus,
.form-grid select:focus,
.form-grid textarea:focus{
	border-bottom:2px solid #00695c;
}
.form-grid input[type=text]:disabled,
.form-grid input[readonly],
.form-grid input[type=password]:disabled,
.form-grid select:disabled {
	background:#eee;	
}
.form-grid select{
	-ms-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	border:0;
	border-bottom:2px solid #ccc;
}
.form-grid .select-wrapper {
	position: relative;
}
.form-grid .select-arrow{
	display: block;
	position:absolute;
	right:4px;
	bottom:6px;
	border-top:6px solid #00695c;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
}
.form-grid textarea{
	font-size:1em;
	line-height: 1;
	font-family:inherit;
}
.form-grid tr td:first-of-type{
	text-align:right;
}

input.radio,
input.checkbox,
input.button{
	width:initial;
}
input.button{
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance:none;
	padding:9px 25px;
	border:0;
	background:#00695c;
	text-transform:uppercase;
	font-size:0.8em;
	font-weight:600;
	color:white;
	border-radius:2px;
	cursor: pointer;
	margin-top:15px;
}
.form-grid .form-part-heading{
	text-align:left;
	font-weight:bold;
	font-size:1.1em;
	padding-top:35px;
	padding-bottom:0px;
}
.form-grid tr:first-of-type .form-part-heading {
	padding-top:0;
}
input[type=radio]:not(old) {
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}

input[type=radio]:not(old)+label {
	display: inline-block;
	margin-left: -2em;
	margin-right: 0.5em;
	line-height: 1.5em;
}

input[type=radio]:not(old)+label>span {
	display: inline-block;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 0.09em solid #00695c;
	border-radius: 100%;
	background: #fff;
	vertical-align: middle;
}
input[type=radio]:not(old):checked+label>span>span {
	display: block;
	width: 0.6em;
	height: 0.6em;
	margin:2px;
	border-radius: 100%;
	background: #00695c;
}

input[type=radio]:not(old)+label>span>span {
	display: block;
	width: 0.6em;
	height: 0.6em;
	margin:2px;
	border-radius: 100%;
	background: #fff;
}